#bloco {
    background-color:rgb(rgb(156, 131, 131));


}



p:hover {
    background-color: rgb()
}
 #bloco1 {  width: 900px;
    margin:0 auto ;
    text-align: center;}
    body{background-color: rgb(241, 238, 238);
    }